*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #383838;
  color: #f2f2f2;

  letter-spacing: 2px;
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 2;
}

p {
  font-size: 18px;
  line-height: 1.5;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
header {
  text-align: center;
  margin: 50px 0;
}
header > h1 {
  color: #7c3e66;
  text-shadow: 2px 3px 3px #c70a80;
  margin-bottom: 15px;
}

header > img {
  width: 300px;
}

main {
  background-color: #ffdede;
  color: #383838;
  width: 700px;
  margin: 0 auto 50px auto;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 2px 3px 3px #ff8b8b;
}

.first-section {
  margin-bottom: 20px;
}
.first-section > p,
.second-section > p {
  margin: 20px 0;
}

li {
  margin-bottom: 15px;
  padding-left: 10px;
  border-left: 4px solid transparent;
}

li:nth-of-type(odd) {
  color: #ff7b7b;
  border-color: #ff8b8b;
}
a {
  background-color: #abc9ff;
  padding: 10px;
  border-radius: 5px;
  color: #3f4e4f;
}
a:active,
a:hover {
  background-color: #3f4e4f;
  color: #abc9ff;
}
footer {
  margin-bottom: 50px;
  text-align: center;
}
.btn {
  background-color: #ff8b8b;
  padding: 10px 35px;
  margin-bottom: 12px;
}
